@import './variables.scss';

.wrapper {
  position: absolute;
  top: 0;
  width: $custom-width;
  z-index: 10;

  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 100px;

  .wrapper-content {
    background-color: white;
  }

  .wrapper-content-right {
    display: flex;
    justify-content: end;
    gap: 48px;
    margin-bottom: 32px;
  }
}