$custom-width: 95.56%; // Используй, если в фигме видишь 1376px
$primary-text-color: #373737;
$text-gradient: linear-gradient(90deg, #F05528 0%, #C779D0 100%, #4BC0C8 100%);
$slider-gradient: linear-gradient(90deg, rgba(240, 85, 40, 0.5) 0%, rgba(199, 121, 208, 0.5) 50%, rgba(75, 192, 200, 0.5) 100%);

$main-font: 'Alumni Sans', sans-serif;
$secondary-font: 'Inter', sans-serif;


$border-color: #96B4C8;

$large-margin: 100px;
$medium-margin: 32px;
$small-margin: 16px;
$small-padding: 16px;


$headline-font-size: 85px;
$main-font-size: 170px;
$button-font-size: 26px;
$project-title-font-size: 58px;
$accordion-title-font-size: 32px;
$accordion-number-font-size: 40px;
$myths-title-font-size: 80px;

// Размеры элементов
$logo-width: 216px;
$social-icon-size: 40px;
