@import '../utils/variables.scss';

.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #96B4C8;
  text-transform: uppercase;
  background-color: white;
  z-index: 1000;
}

.logo {
  background-image: url(./media/logo/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 216px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
}

.horizontal-menu {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 16px 0;
  padding: 0;
  gap: 32px;
}

.menu-item {
  font-family: $main-font;
  font-size: 26px;
  line-height: 28.6px;
  font-weight: 500;
  font-style: normal;
  padding: 4px 16px;
  display: flex;
  align-items: center;
}

.social-media {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-right: 32px;
}

.tiktok, .insta {
  width: 40px;
  height: 36px;
  background-size: cover;
}

.tiktok {
  background-image: url(./media/tiktok.svg);
}

.insta {
  background-image: url(./media/insta.svg);
}

a {
  text-decoration: none;
  color: $primary-text-color;
}
